img,video {
    max-width: 100%;
    height: auto;
}
body {
    padding: 0;
    font-family: var(--font-sans);
    color: #E2CCB3;
    background-color: #111;
    overflow-x: hidden;
}


button {
    appearance: none;
    border: none;
    background-color: transparent;
}

.main-content {
    position: relative;
}

.main-content__hero {
    position: relative;
    text-align: center;
    color: #ffffff;
}
.main-content__title {
    font-size: 96px;
    font-weight: bold;
    margin: 0;
    padding-top: 0,5rem;
    color: #E2CCB3;
    z-index: 2;
    position: relative;
}

.main-content__image {
    width: 100%;
    max-height: 60vh;
    object-fit: cover;
    z-index: 2;
    position: relative;

}

.main-content__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 425px;
    height: 232px;
    z-index: 0;
    opacity: 70%;
}

.main-content__background-2 {
    position: absolute;
    top: 40%;
    left: 0;
    padding-top: 200px;
    width: 135px;
    height: 195px;
    z-index: 0;
    opacity: 70%;
}
.main-content__background-3 {
    position: absolute; 
    right: 0;
    padding-top: 200px;
    width: 281px;
    height: 219px;
    z-index: 0;
    opacity: 70%;
}
.main-description {
    padding-top: 58px;
    color: #E2CCB3;
    font-size: 20px;
    font-weight: regular;
}
.main-details {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem 2rem;
    border-radius: 8px;
    margin: 1rem auto;
    max-width: 60%;
    font-size: 20px;
    color: #fff;
    line-height: 1.6;
    z-index: 2;
    position: relative;
}

.film_image {
    background-color: 295E25(0, 0, 0, 0,4);
    padding : 1rem;
    border-radius: 8px;
    width: 104px;
    height: 90px;
    position: relative;

}
.main-content__description {
    padding-top: 1rem;
    color: #E2CCB3;
    font-size: 20px;
    font-weight: regular;
    width: 90%;
    
}
.main-content__actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;  
    margin-left: 20px;
    margin-right: 20px;  
}
.partners__logos {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    gap: 2rem;  
}
.partners__logo-img {
    width: 100px;
    height: 100px;
    margin-bottom: 3rem;
    margin-top: 2rem;
}

.program {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.program__link {
    text-decoration: none;
    color: #E2CCB3;
}

.program__image {
    max-width: 90%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.program__description {
    text-align: start;
    font-size: 1rem;
}

.main-image {
    width: 25%;
    height: 25%;
    margin: 0 auto;
    display: block;
}
.main-video {
    height: 100%;
    margin: 0 auto;
    display: block;
    padding-top: 1rem;
    padding-bottom: 2rem;

}
.description {
    margin-left: 20px;
    margin-right: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    padding-bottom: 2rem;
}

.subtitle {
    font-size: 14px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    color: #FD410D;
    padding-bottom: 1rem;
    margin-left: 20px;
}

.title {
    font-size: 36px;
    font-family: josefin-sans, sans-serif;
    font-weight: bold;
    color: #E2CCB3;
    margin-left: 20px;
}

.main-image_2 {
    width: 241px;
    height: 241px;
    margin: 0 auto;
    display: block;
    margin-bottom: 2rem;
}

.title_2 {
    font-family: josefin-sans, sans-serif;
    font-size: 40px;
    font-style: normal;
    margin-left: 20px;
    margin-right: 20px;
}

.title_invite {
    color: #FD410D;
    text-align: center;
}

.contact_description {
    color: #E2CCB3;
    font-size: 20px;
    font-weight: regular;
    width: 90%;
    text-align: center;
    margin: 20px auto;
}
.contact__form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
}
.contact__feedback-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
}

.form-group {
    display: flex;
    gap: 10px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
textarea {
    width: 100%;
    padding: 10px;
    border: 2px solid #E2CCB3;
    border-radius: 5px;
    background-color: #ffffff;
    color: #E2CCB3;
    font-size: 1rem;
}
.stickers {
    height: 82,5px;
    width: 75px;
    float: right;
}