img,video {
    max-width: 100%;
    height: auto;
}
body {
    padding: 0;
    font-family: var(--font-sans);
    color: #ffffff;
    background-color: #111;
    overflow-x: hidden;
}

.main-content {
    position: relative;
}

.main-content__hero {
    position: relative;
    text-align: center;
    color: #ffffff;
}

.main-content__title {
    font-size: 96px;
    font-weight: bold;
    margin: 0;
    padding-top: 0,5rem;
    color: #E2CCB3;
    z-index: 2;
    position: relative;
}

.main-content__image {
    width: 100%;
    max-height: 60vh;
    object-fit: cover;
    z-index: 2;

}

.main-content__background {
    position: absolute;
    top: 0;
    left: 0;
    width: 425px;
    height: 232px;
    z-index: 0;
    opacity: 70%;
}

.main-content__background-2 {
    position: absolute;
    top: 40%;
    left: 0;
    padding-top: 220px;
    width: 149px;
    height: 195px;
    z-index: 0;
    opacity: 70%;
}
.main-content__background-3 {
    position: absolute; 
    right: 0;
    padding-top: 210px;
    width: 281px;
    height: 219px;
    z-index: 0;
    opacity: 70%;
}
.main-description {
    padding-top: 58px;
    color: #E2CCB3;
    font-size: 20px;
    font-weight: regular;
}
.main-details {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 1rem 2rem;
    border-radius: 8px;
    margin: 1rem auto;
    max-width: 60%;
    font-size: 20px;
    color: #fff;
    line-height: 1.6;
    z-index: 2;
    position: relative;
}

.film_image {
    background-color: 295E25(0, 0, 0, 0,4);
    padding : 1rem;
    border-radius: 8px;
    width: 104px;
    height: 90px;
    position: relative;

}
.main-content__description {
    padding-top: 1rem;
    color: #E2CCB3;
    font-size: 20px;
    font-weight: regular;
    width: 90%;
    align-items: center;
}
.main-content__actions {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;  
    margin-left: 20px;
    margin-right: 20px;  
}
.partners__logos {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    gap: 2rem;  
}
.partners__logo-img {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.film__image {
    margin-left: 20px;
    width: 104px;
    height: 90px;
}
.film__description {
    padding-top: 1rem;
    color: #E2CCB3;
    font-size: 20px;
    font-weight: regular;
    width: 90%;
}
.film__image-2 {
    margin-left: 20px;
    margin-right: 20px;
    width: 104px;
    height: 90px;
    float: right;
}
.film__description-2 {
    color: #E2CCB3;
    font-size: 20px;
    font-weight: regular;
    width: 90%;
    text-align: end;
}
.film {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.film_droite {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 50px;
}
.main-content__film {
    margin-bottom: ;
}
p {
    margin: 10px 20px;
}

.program {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.program__link {
    text-decoration: none;
    color: #E2CCB3;
}

.program__image {
    max-width: 90%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.program__description {
    text-align: start;
    font-size: 1rem;
}
