.footer{
    align-items: right;
    padding: 20px;
    background-color: #E2CCB3;
    color: #000000;
    flex-direction: column;
}
.footer__logo{
    order: 1;
    max-width: 100px;
    margin-top: 20px;
    float: right;
}
.footer__social{
   bottom: 0; 
}
