.contact__description {
    color: #E2CCB3;
    font-size: 20px;
    font-weight: regular;
    width: 90%;
    text-align: center;
    margin: 20px auto;
}
.contact__subtitle {
    color: #E2CCB3;
    font-size: 30px;
    font-weight: bold;
    width: 90%;
    text-align: center;
    margin: 20px auto;
}
